#contact_top{
    background-image: url(../images/common/bg_gray.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    overflow: hidden;
}

.contact_page .underpage_title {
    position: static;
}


.contact_content {
    grid-column: 2 / 3;
}

.kv_deco_kumo3, .kv_deco_kumo4 {
    display: none;
}