.form_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.form_content {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 59px;
}


.form_text {
    line-height: 3;
    margin-bottom: 42px;
}

.form_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.form_area {
    border-radius: 5px;
    width: 100%;
    background-color: #FFD175;
    padding: 8px 20px 13px 20px;
}

.form_area, .form_area::placeholder {
    color: #FFF0D0;
    text-align: left;
}

.form_pp {
    text-align: start;
    border: 1px solid #000000;
    border-radius: 5PX;
    padding:  20px;
    height: 130px;
    overflow-y: scroll;
    color: #888888;
}

.form_pp::-webkit-scrollbar {
    display: none;
}

.form_pp p {
    margin-bottom: 16px;
}

.pp_checkbox input[type="checkbox"] {
    position: relative;
    width: 18px;
    height: 18px;
    background-color: #FFD175;
    margin-top: 6px;
    border-radius: 3px;
    vertical-align: -5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.pp_checkbox input[type="checkbox"]:checked:before {
    position: absolute;
    top: -4px;
    left: 6px;
    transform: rotate(45deg);
    width: 10px;
    height: 16px;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    border-radius: 3px;
    content: '';
}

.pp_checkbox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.required_mark_headline img {
    width: 15px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.required_mark {
    margin-left: 5px;
}

.required_mark img {
    width: 15px;
}

.submit_btn {
    width: 160px;
    transition: 0.3s;
}

.submit_btn:hover {
    opacity: 0.8;
    transition: 0.3s;
}
