@media (max-width: 767px) {
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        background-color: #fff;
        padding: 10px 5%;
        width: 100vw;
        z-index: 100;
    }
    .nav-container_right {
        display: flex;
    }
    .button-one {
        width: 30px;
        z-index: 300;
    }
    .button-one img{
        width: 25px;
        padding-top: 5px;
    }
    .button-one p{
        margin-top: -15px;
        margin-left: -5px;
    }
    .primary-nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        transition: transform 300ms ease-in;
        z-index: 200;
        overflow: hidden;
    }
    .primary-nav ul {
        background-image: url(../images/common/hamburger_bg.jpg);
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        z-index: 200;
    }
    .primary_link {
        color: #fff;
        transition: 0.3s;
        font-size: 20px;
    }
    .primary_contact{
        margin-top: 20px;
        display: flex;
        flex-flow: column;
        gap: 0;
        margin-bottom: 100px;
    }
    .nav-container .kv_deco_kumo1 {
        top: auto;
        bottom: 90px;
        left: -15px;
    }
    .nav-container .kv_deco_kumo2 {
        top: 90px;
        right: -25px;
    }

    .lang-btn {
        background-color: transparent;
        border: none;
        color: #c8c8c8;
        margin: 0;
    }
    .lang-btn:hover {
        cursor: pointer;
    }
    /* Bottom Navbar */
    #bottom-nav {
        padding-top: 70px;
    }
    .bottom-nav-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 27px;
    }
    .bottom-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bottom_link {
        text-decoration: none;
    }
    .bottom_link:hover {
        transition: 0.3s;
        color: #2bb9fc;
        cursor: pointer;
    }
    .bottom_contact-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
        padding-left: 60px;
        border-left: 1px solid white;
        height: 40px;
    }
    
    
    .primary-logo{
        z-index: 9998;
    }
    .hamburger {
        object-fit: cover;
    }
    
    /* Primary Navbar Mobile */
    @media (max-width: 1025px) {
        .primary-nav_closed {
            transform: translateX(100%);
        }
        .langauge-btn-container {
            position: static;
            /* text-wrap: nowrap; */
            white-space: nowrap;
        }
        .lang-btn {
            background-color: transparent;
            border: none;
            color: #c8c8c8;
        }
        .lang-btn:hover {
            cursor: pointer;
        }
        .active-lang {
            color: #000000;
            font-weight: bold;
        }
    }
    @media (max-width: 450px) {
        .logo-img_wrapper {
            width: 128px;
            height: 40px;
        }
    }
    
    /* Bottom Navbar Mobile */
    @media (max-width: 1000px) {
        .bottom-nav-list {
            padding: 0;
            height: max-content;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
            "about  price blog"
            " notice recruit contact ";
            padding-left: 20px;
            padding-right: 20px;
        }
        #bottom-about {
            grid-area: about;
            margin-left: 35px;
            width: max-content;
        }
        #bottom-price {
            grid-area: price;
            margin-left: 47px;
            margin-left: 30px;
            justify-self: self-start;
            justify-self: center;
        }
        #bottom-blog {
            grid-area: blog;
            margin-left: 10px;
            width: max-content;
        }
        #bottom-notice {
            grid-area: notice;
            width: max-content;
            justify-self: center;
        }
        #bottom-recruit {
            grid-area: recruit;
            margin-left: -20px;
            width: max-content;
            justify-self: self-start;
        }
        #bottom-contact {
            grid-area: contact;
            margin-left: -60px;
            width: max-content;
        }
        .bottom_contact-wrapper {
            padding-left: 10px;
        }
    }
}