#menu_top{
    background-image: url(../images/common/bg_yellow.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu_btn{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 700px;
    padding:  60px 0 50px;
    margin: auto;
    justify-content: center;
}
.menu_gap{
    display: flex;
    flex-flow: column;
    gap: 80px;
    background-color: #FFD175;
}
.menu_fix_title{
    position: absolute;
    top: 0;
    left: 40px;
    width: 60px;
}
.menu_content{
    display: flex;
    flex-flow: column;
    gap: 80px;
    grid-column: 2;
    margin: auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    padding: 100px 0;
    position: relative;
}
.menu_content_top{
    margin-bottom: 60px;
}
.menu_content_top h3{
    font-size: 34px;
    margin-bottom: 30px;
}
.menu_content_top p{
    line-height: 3;
}
.menu_inner{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: auto;
    gap: 60px 40px;
}
.menu_item{
    display: flex;
    transition: 0.3s;
}
.menu_inner a:hover{
    transition: 0.3s;
    opacity: 0.6;
}
.menu_visual{
    margin-top: 10px;
    position: relative;
}
.menu_img{
    width: 230px;
}
.menu_price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}
.menu_deco{
    width: 20px;
}
.osusume{
    background-color: #FFD175;
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.menu_text{
    display: flex;
    flex-flow: row-reverse;
    font-size: 16px;
    gap: 0;
    text-align: start;
    letter-spacing: 0.3rem;
}
.menu_vertical_right{
    margin-left: -10px;
}
.text_menu{
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: auto;
    gap: 60px;
    font-size: 24px;
}
.text_menu_content{
    display: flex;
    flex-flow: column;
    width: 50%;
    gap: 10px;
}
.text_menu_inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: solid #000 1px;
}
.text_menu_item{
    display: flex;
    gap: 30px;
}
.text_menu_item span{
    font-size: 18px;
    padding-left: 10px;
}
.menu_page .top_btn{
    background-color: #FFD175;
}