#menu_top{
    background-image: url(../images/common/bg_yellow.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu_btn{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 700px;
    padding:  60px 0 50px;
    margin: auto;
    justify-content: center;
}
.menu_gap{
    display: flex;
    flex-flow: column;
    gap: 80px;
    background-color: #FFD175;
}
.menu_fix_title{
    position: absolute;
    top: 0;
    left: 40px;
    width: 60px;
}
.menu_fix_title .sp{
    display: none;
}
.menu_content{
    display: flex;
    flex-flow: column;
    gap: 80px;
    grid-column: 2;
    margin: auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    padding: 100px 0;
    position: relative;
}
.menu_content_top{
    margin-bottom: 60px;
}
.menu_content_top h3{
    font-size: 34px;
    margin-bottom: 30px;
}
.menu_content_top p{
    line-height: 3;
}
.menu_content_top p br{
    display: none;
}
.menu_inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 960px;
    margin: auto;
    gap: 60px 40px;
}
.menu_item{
    display: flex;
    transition: 0.3s;
}
.menu_inner a:hover{
    transition: 0.3s;
    opacity: 0.6;
}
.menu_visual{
    margin-top: 10px;
    position: relative;
}
.menu_img{
    width: 230px;
}
.menu_price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}
.menu_deco{
    width: 20px;
}
.osusume{
    background-color: #FFD175;
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.menu_text{
    display: flex;
    flex-flow: row-reverse;
    font-size: 16px;
    gap: 0;
    text-align: start;
    letter-spacing: 0.3rem;
}
.menu_vertical_right{
    margin-left: -10px;
}
/* text menu */
.text_menu{
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: auto;
    gap: 60px;
    font-size: 24px;
}
.text_menu_content{
    display: flex;
    flex-flow: column;
    width: 50%;
    gap: 10px;
}
.text_menu_inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: solid #000 1px;
}
.text_menu_item{
    display: flex;
    gap: 30px;
}
.text_menu_item span{
    font-size: 18px;
    padding-left: 10px;
}

/* set menu */
#select_set .menu_content{
    gap: 0;
}
#select_set .menu_inner{
    flex-flow: column;
    gap: 80px;
}
.set_menu{
    width: 960px;
    margin: auto;
    display: flex;
    flex-flow: column;
    gap: 80px;
}
.set_menu_content{
    margin-top: -50px;
    width: 100%;
    padding: 70px 0 40px;
    background-color: #FFF8EB;
    border-radius: 10px;
}
.set_menu_title{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    margin-bottom: 30px;
}
.set_menu_flex{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
}
.set_main_img{
    width: 400px;
}
.set_sub_img{
    width: 180px;
}
.set_menu_item p{
    font-size: 24px;
}
.set_menu_item a{
    font-size: 16px;
    color: #fff;
    background-color: #D53128;
    padding: 5px 15px;
    border-radius: 20px;
}
.plus{
    padding-top: 80px;
}
.sub_menu{
    font-size: 20px;
    padding-top: 60px;
    text-align: left;
}
.sub_menu_umeq{
    padding-top: 45px;
}

/* btn */
.menu_page .top_btn{
    background-color: #FFD175;
}

@media (max-width: 1360px) {
    .menu_fix_title{
        width: 40px;
    }
}
@media (max-width: 1320px) {
    .menu_fix_title{
        width: auto;
        height: 45px;
        top: 30px;
        left: 0;
    }
    .menu_fix_title .pc{
        display: none;
    }
    .menu_fix_title .sp{
        display: block;
    }
    .menu_inner{
        width: 90%;
        gap: 50px 30px;
    }
    .set_menu{
        width: 90%;
    }
    .text_menu{
        width: 90%;
    }
}

@media (max-width: 1190px) {
    .menu_price,
    .text_menu,
    .set_menu_title,
    .set_menu_item p{
        font-size: 20px;
    }
    .text_menu_item span{
        font-size: 16px;
    }
}

@media (max-width: 1165px) {
    .menu_img{
        width: 200px;
    }
    .set_sub_img {
        width: 140px;
    }
    .plus {
        padding-top: 50px;
    }
    .sub_menu {
        padding-top: 30px;
    }
    .sub_menu_umeq{
        padding-top: 15px;
    }
}

@media (max-width: 1100px) {
    .menu_img{
        width: 200px;
    }
}

@media (max-width: 1060px) {
    .menu_inner {
        width: 80%;
        gap: 50px;
    }
    .menu_img{
        width: 180px;
    }
    .menu_text{
        font-size: 14px;
    }
    .set_menu_flex{
        gap: 20px;
    }
    .plus{
        width: 25px;
        padding-top: 60px;
    }
    .sub_menu {
        padding-top: 40px;
    }
    .sub_menu_umeq{
        padding-top: 20px;
    }
}

@media (max-width: 1020px) {
    .menu_content_top p br{
        display: block;
    }
    .text_menu,
    .set_menu_item p,
    .sub_menu{
        font-size: 16px;
    }
    .text_menu_item span{
        font-size: 12px;
    }
    .set_menu_item a{
        font-size: 14px;
    }
}

@media (max-width: 940px) {
    .text_menu_item {
        gap: 10px;
    }
    .set_sub_img {
        width: 100px;
    }
    .set_menu_flex{
        gap: 15px;
    }
}

/* sp */
@media (max-width: 767px) {
    .menu_btn {
        gap: 20px;
        width: 85%;
        justify-content: start;
        padding: 20px 0 15px;
    }
    .menu_fix_title {
        top: 15px;
    }
    .menu_gap{
        gap: 65px;
    }
    .menu_content {
        padding: 70px 0 60px;
        gap: 60px;
    }
    .menu_content_top{
        margin-bottom: 10px;
    }
    .menu_content_top h3{
        font-size: 30px;
        margin-bottom: 5px;
    }
    /* scroll */
    .menu_inner{
        flex-flow: nowrap;
        display: flex;
        width: 90%;
        gap: 20px;
        overflow-x: scroll;
        justify-content: start;
        padding-bottom: 20px;
    }
    .menu_item{
        justify-content: center;
    }
    .scroll_item{
        margin: 5px;
        flex-shrink: 0;
    }
    .menu_inner::-webkit-scrollbar {
        height: 5px;
    }
    .menu_inner::-webkit-scrollbar-thumb {
        background: #FFD175;
    }
    .menu_inner::-webkit-scrollbar-track {
        background: #FFF0D0;
    }
    .menu_text{
        text-align: center;
        line-height: 1.5;
        letter-spacing: normal;
        padding: 10px 0;
    }
    .menu_vertical_right{
        margin-left: 0;
    }
    .text_menu{
        flex-flow: column;
        gap: 15px;
    }
    .text_menu_content{
        width: 100%;
        gap: 15px;
    }
    #zousui .menu_content,
    #drink .menu_content{
        padding: 90px 0 60px;
    }
    #otumami .menu_content{
        padding: 100px 0 60px;
    }
    .set_menu{
        padding-top: 15px;
        gap: 50px;
    }
    .set_main_img{
        width: 85%;
    }
    .set_menu_content {
        margin-top: -100px;
        padding: 140px 0 30px;
    }
    .set_menu_flex{
        flex-flow: column;
        width: 85%;
        margin: auto;
        align-items: center;
    }
    .set_menu_item{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .set_menu_item p {
        margin-bottom: 5px;
    }
    .set_menu_item a {
        padding: 5px 20px;
    }
    .set_sub_img{
        width: 120px;
    }
    .plus{
        width: 20px;
        padding: 0;
    }
    .sub_menu{
        padding: 0;
    }
    #drink .menu_content_top{
        margin-bottom: 30px;
    }
}

.sp {
    display: none;
}
@media (max-width: 767px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
}