#news_top{
    background-image: url(../images/common/bg_gray.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}

/*タイトル pc*/
.underpage_title .title_icon {
    margin-bottom: -20px;
}

.underpage_title h2 {
    padding-bottom: 5px;
}


/*newsbox pc*/
.news_grid {
    display: grid;
    grid-template-columns: 1fr 960px 1fr;
}

.news_content {
    grid-column: 2;
    z-index: 10;
}

.news_flex {
    display: flex;
    flex-flow: column;
    gap: 30px;
    background-color: #FFFFFF;
    padding: 80px 80px 60px 80px;
}

.news_flex .news_item {
    display: flex;
    flex-flow: row;
    gap: 15px;
    border-bottom: 1px solid #000000;
    font-size: 14px;
    letter-spacing: 0.2rem;
    align-items: center;
    transition: 0.3s;
}

.news_flex .news_item:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

.news_flex .item_text {
    text-align: start;
    padding-bottom: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.item_date {
    color: #D53128;
}


/*ページネーション pc*/
.news_pagination {
    margin: 60px auto 100px auto;
}


.nav_links {
    display: flex;
    justify-content: center;
    flex-flow: row;
    gap: 20px; 
}

.arrow_right {
    display: inline-block;
    vertical-align: middle;
    color: #D53128;
    line-height: 1;
    position: relative;
    width: 0.8rem;
    height: 0.8rem;
    transform: translateX(-25%) translateY(-10%) rotate(45deg);
}

.arrow_right::before, .arrow_right::after {
    content: '';
    position: absolute;
    background: currentColor;
    border-radius: 0.1em;
}

.arrow_right::before {
    top: 0;
    left: 0;
    right: 0;
    height: 0.1em;
    }

.arrow_right::after {
    top: 0;
    right: 0;
    bottom: 0;
    width: 0.1em;
}

.arrow_left {
    display: inline-block;
    vertical-align: middle;
    color: #D53128;
    line-height: 1;
    position: relative;
    width: 0.8rem;
    height: 0.8rem;
    transform: translateX(25%) translateY(-10%) rotate(225deg);
}

.arrow_left::before, .arrow_left::after {
    content: '';
    position: absolute;
    background: currentColor;
    border-radius: 0.1em;
}

.arrow_left::before {
    top: 0;
    left: 0;
    right: 0;
    height: 0.1em;
}

.arrow_left::after {
    top: 0;
    right: 0;
    bottom: 0;
    width: 0.1em;
    }

.nav_links ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: baseline;
}

.nav_links li > * {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 30px;
}

.nav_links li > *:not(.dots) {
    width: 30px;
    border-radius: 50%;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #000000;
    transition: color 0.3s ease, background 0.3s ease;
    transition: 0.3s;
}

.nav_links li > .current,
.nav_links li > a:hover:not(.dots) {
    color: #D53128;
    border-radius: 50%;
    border: 1px solid #D53128;
    background: #FFFFFF;
    transition: 0.3s;
}

/*only sp*/
.kv_deco_kumo3, .kv_deco_kumo4 {
    display: none;
}

/*tb*/
@media (max-width: 1100px) {
    /*newsbox tb*/
    .news_grid {
        grid-template-columns: 1fr 85% 1fr;
    }

    /*装飾 tb*/
    .kv_deco_kumo1 {
        width: 200px;
    }

    .kv_deco_kumo2 {
        width: 200px;
    }
}

/*sp*/
@media (max-width: 767px) {
    #news_top {
        background-image: url(../images/common/bg_gray_sp.jpg);
        background-size: cover;
        margin-top: 80px;
    }

    .underpage_kv {
        padding-top: 60px;
        overflow: hidden;
    }

    /*タイトル sp*/
    .underpage_title {
        margin-bottom: 37px;
    }

    .underpage_title .title_icon {
        margin-bottom: -16px;
    }

    .underpage_title h2{
        font-size: 36px;
        padding:0;
        margin-bottom: -18px;
    }

    .underpage_title .title_line {
        width: 242px;
    }

    .underpage_title p {
        font-size: 18px;
    }

    /*newsbox sp*/
    .news_flex {
        border-radius: 10px;
        padding: 54px 20px 60px 20px;
    }

    .news_grid {
        grid-template-columns: 1fr 85% 1fr;
    }

    .news_content {
        grid-column: 2 / 3;
    }

    .news_flex .news_item {
        flex-flow: column;
        align-items: flex-start;
        gap: 8px;
    }

    /*ページネーション sp*/
    .news_pagination {
        margin: 40px auto 80px auto;
    }

    .arrow_left {
        transform: translateX(25%) translateY(-20%) rotate(225deg);
    }

    .arrow_right {
        transform: translateX(-25%) translateY(-20%) rotate(45deg);
    }
    

    .top_btn {
        padding-bottom: 80px;
    }

    /*装飾 sp*/
    .kv_deco_kumo1 {
        width: 120px;
        top: 60px;
    }

    .kv_deco_kumo3, .kv_deco_kumo4 {
        display: block;
    }

    .kv_deco_kumo2 {
        display: none;
    }

    .kv_deco_kumo3 {
        position: absolute;
        top: 724px;
        right: -38px;
    }

    .kv_deco_kumo4 {
        position: absolute;
        bottom: 510px;
        right: -36px;
    }

}