#preference_top{
    background-image: url(../images/preference/preference_bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
#preference_bottom{
    padding-bottom:100px ;
}
.preference_content{
    display: flex;
    flex-flow: column;
    gap: 60px;
    display: grid;
    grid-template-columns: 1fr 1260px 1fr;
}
.preference_flex{
    display: flex;
    gap: 50px;
    align-items: center;
    margin: auto;
}
.preference_flex_left{
    grid-column: 1/3;
    justify-content: end;
}
.preference_flex_right{
    grid-column: 2/4;
    justify-content: start;
}
.preference_img{
    width: 700px;
    height: 700px;
    flex-shrink: 0; 
}
.preference_column_text{
    display: flex;
    justify-content: center;
    flex-flow: row-reverse;
    font-size: 34px;
    padding: 40px;
    position: relative;
    flex-shrink: 1;
    letter-spacing: 1.5rem; 
}
.preference_text{
    width: 440px;
    flex-shrink: 0; 
    line-height: 3;
}
.preference_text span{
    color: #fff;
    background-color: #D53128;
    padding: 5px;
}
.column_text_deco1{
    width: 70px;
    position: absolute;
    top: 0;
    left: 0;
}
.column_text_deco2{
    width: 70px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.preference_btn{
    text-align: center;
}