/* kv */
#kv{
    background-image: url(../images/top/gray_bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.kv_hidden{
    overflow: hidden;
    position: relative;
    margin: auto;
}
.kv_top{
    margin: auto;
    text-align: center;
    position: relative;
    width: 960px;
}

/* kv_slide */
.slide_show {
    position: relative;
    overflow: hidden;
    width: 880px;
    height: 1090px;
    margin: auto;
}
.slide_show img {
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0;
    animation: slideAnime 6s ease infinite;
}
.slide_show img:nth-of-type(1) { animation-delay: 0s }
.slide_show img:nth-of-type(2) { animation-delay: 3s }
@keyframes slideAnime{
    0% { opacity: 0 }
    25% { opacity: 1 }
    50% { opacity: 1 }
    75% { opacity: 0 }
    100% { opacity: 0 }
}

/* kv title */
.kv_title{
    display: flex;
    flex-flow: row-reverse;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 40px;
}
.kv_title1,
.kv_title2{
    width: 60px;
}
.kv_title2{
    margin-top: 45px;
    margin-right: 20px;
}

/* kv news */
.kv_news{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 0px #D53128;
    width: 400px;
    position: absolute;
    top: 540px;
    left: 0;
    z-index: 1;
}
.kv_news_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #D53128;
    font-weight: 600;
}
.kv_news_title h3{
    font-size: 20px;
}
.kv_news_title a{
    transition: 0.3s;
}
.kv_news_title a:hover{
    opacity: 0.5;
    transition: 0.3s;
}
.kv_news_title p{
    font-size: 12px;
    display: inline;
}
.kv_news_arrow{
    display: inline-block;
    vertical-align: middle;
    color: #D53128;
    line-height: 1;
    width: 8px;
    height: 8px;
    border: 2px solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(45deg);
    margin-top: 2px;
}
.kv_news_content{
    display: flex;
    flex-flow: column;
    gap: 5px;
    font-size: 14px;
}
.kv_news_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-bottom: 2px;
    border-bottom: solid #000 1px ;
    transition: 0.3s;
}
.kv_news_inner:hover{
    opacity: 0.5;
    transition: 0.3s;
}
.kv_news_date{
    color: #D53128;
    font-weight: 600;
}
.kv_news_text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

/* kv deco */
.kv_deco{
    position: absolute;
    z-index: 1;
}
.kv_deco_kumo_l{
    position: absolute;
    width: 280px;
    top: 80px;
    left: 50px;
}
.kv_deco_kumo_r{
    position: absolute;
    width: 280px;
    top: 760px;
    right: -10px;
}
.kv_deco_ume_l{
    position: absolute;
    width: 60px;
    top: 300px;
    left: 100px;
}
.kv_deco_ume_l_small{
    position: absolute;
    width: 30px;
    top: 380px;
    left: 140px;
}
.kv_deco_ume_r{
    position: absolute;
    width: 60px;
    top: 570px;
    right: 80px;
}
.kv_deco_ume_r_small{
    position: absolute;
    width: 40px;
    top: 640px;
    right: 140px;
}

/* kv bottom */
.kv_bottom{
    position: relative;
    padding-bottom: 40px;
    grid-column: 1/4;
    padding: 160px 0 120px;
    overflow: hidden;
    margin-top: -150px;
    margin-bottom: -80px;
}
.kv_bottom1{
    width: 390px;
    position: absolute;
    top: 0;
    right: -45px;
}
.kv_bottom2{
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 0;
    left: -100px;
}
.kv_bottom2 img{
    width: 500px;
}
.kv_bottom_text{
    font-size: 20px;
    margin: 20px auto 0;
    padding: 40px 0 50px;
    line-height: 3.5;
    letter-spacing: 0.3rem;
    background-image: url(../images/top/logo_q.png);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: 600;
}
.kv_btn{
    text-align: center;
    align-items: center;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    color: #fff;
    background-color: #D53128;
    transition: 0.3s;
    margin-left: -130px;
    margin-bottom: 15px;
}
.kv_btn p{
    padding: 80px 0 10px;
    font-size: 20px;
}
.contact_arrow{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 1;
    width: 20px;
    height: 20px;
    border: 2px solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
}
.kv_btn:hover {
    transform:scale(1.1,1.1);
    transition: 0.3s;
}

/* concept */
#concept{
    padding-top: 180px;
    background-image: url(../images/top/concept_bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.concept_flex{
    display: flex;
    justify-content: space-between;
    grid-column: 2;
    gap: 40px;
}
#concept h3{
    font-size: 34px;
    margin-bottom: -10px;
}
.concept_line{
    width: 545px;
    margin-bottom: 20px;
}
.concept_btn{
    margin-top: 60px;
}

/* section title */
.top_title{
    display: flex;
    flex-flow: row-reverse;
    position: relative;
    justify-content: start;
    font-weight: 600;
}
.top_title h2{
    padding-top: 15px;
    font-size: 42px;
}
.top_title img{
    width: 70px;
    position: absolute;
}
.top_title_line{
    content: "";
    height: 320px;
    width: 1px;
    background-color: #D53128;
}

/* section title right */
.right_title h2{
    margin-right: -10px;
}
.right_title .title_deco_top{
    top: -20px;
    right: 50px;
}
.right_title .title_deco_bottom{
    top: 320px;
    right: -30px;
}
.right_title p{
    transform: rotate( 90deg );
    position: absolute;
    top: 30px;
    left: -20px;
    letter-spacing: 0.1rem;
}

/* section title left */
.left_title h2{
    margin-right: -10px;
}
.left_title .title_deco_top{
    top: -20px;
    left: 60px;
    transform: scale(-1, 1);
}
.left_title .title_deco_bottom{
    top: 320px;
    left: -30px;
    transform: scale(-1, 1);
}
.left_title p{
    transform: rotate( 90deg );
    position: absolute;
    top: 45px;
    left: 30px;
    letter-spacing: 0.1rem;
}

/* concept img */
.concept_img{
    display: flex;
    width: 95%;
    justify-content: end;
    gap: 55px;
}
.concept_img img{
    width: 200px;
    height: 265px;
}
.concept_img1{
    margin-top: 60px;
}
.concept_img2{
    margin-top: -50px;
}
.concept_img3{
    margin-top: -160px;
}

/* recommend */
.recommend_inner{
    grid-column: 2;
}
.recommend_flex{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: end;
    gap: 80px;
}
.recommend_menu{
    display: flex;
    justify-content: space-between;
    margin: 100px 0 130px;
}
.recommend_menu_item{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
}
.recommend_menu_flex{
    display: flex;
    flex-grow: 1;
    margin: 30px 0;
    gap: 5px;
}
.recommend_menu_title{
    text-align: start;
    color: #D53128;
    font-size: 30px;
    font-weight: 600;
}
.recommend_menu_text{
    text-align: start;
    font-size: 16px;
}

/* certification */
#certification{
    background-color: #FFD175;
}
.certification_header{
    grid-column: 1/4;
}
.certification_inner{
    padding-bottom: 70px;
    margin-top: -20px;
    grid-column: 2;
}
.certification_title{
    position: relative;
    width: 630px;
    height: 135px;
    margin: auto;
}
.certification_attention{
    position: absolute;
    top: -60px;
    left: 0;
}
.certification_line{
    margin-top: -50px;
}
#certification h3{
    font-size: 34px;
    text-align: center;
    margin-bottom: -25px;
}
.certification_flex1,
.certification_flex2{
    display: flex;
}
.certification_flex2{
    flex-flow: row-reverse;
}
.certification_flex1{
    justify-content: end;
    margin-bottom: 35px;
}
.certification_flex1 img{
    width: 400px;
    height: 300px;
    margin-top: -25px;
    margin-right: -15px;
    z-index: 1;
    border-radius: 10px;
}
.certification_text{
    background-color: #fff;
    border-radius: 10px;
}
.certification_flex1 p{
    padding: 30px 50px;
}
.certification_flex2{
    justify-content: start;
}
.certification_flex2 img{
    width: 370px;
}
.certification_flex2 p{
    padding: 35px;
}

.top_bottom{
    padding: 100px 0;
    background-image: url(../images/top/gray_bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* news */
#news{
    grid-column: 2;
    margin-bottom: 90px;
}
#news .top_title{
    padding-top: 33px;
}
#news .top_title_line{
    height: 190px;
}
#news .right_title p{
    top: 50px;
    left: -10px;
}
#news .right_title .title_deco_top{
    top: 10px;
}
#news .right_title .title_deco_bottom{
    top: 220px;
}
.news_flex{
    display: flex;
    justify-content: space-between;
}
.news_content{
    font-size: 14px;
    display: flex;
    flex-flow: column;
    gap: 30px;
    background-color: #fff;
    padding: 45px 30px;
    border-radius: 10px;
    margin-right: 65px;
}
.news_inner{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding-bottom: 5px;
    border-bottom: solid #000 1px;
    transition: 0.3s;
}
.news_inner:hover{
    opacity: 0.5;
    transition: 0.3s;
}
.news_date{
    color: #D53128;
    font-weight: 600;
}
.news_text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.news_btn{
    text-align: center;
    margin-top: 35px;
}

/* instagram */
#instagram{
    grid-column: 2;
}
#instagram .top_title_line{
    height: 400px;
}
#instagram .left_title .title_deco_bottom{
    top: 400px;
}
#instagram .left_title p {
    top: 35px;
    left: 35px;
}
.instagram_inner{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.insta_content{
    width: 720px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
}
.insta_item{
    width: 200px;
    height: 200px;
    background-color: #C8C8C8;
}
.instagram_btn{
    text-align: center;
    margin-top: 60px;
}

@media (min-width: 1800px) {
    /* kv deco */
    .kv_deco_kumo_l{
        left: 200px;
    }
    .kv_deco_kumo_r{
        right: 180px;
    }
    .kv_deco_ume_l{
        left: 250px;
    }
    .kv_deco_ume_l_small{
        left: 290px;
    }
    .kv_deco_ume_r{
        right: 250px;
    }
    .kv_deco_ume_r_small{
        right: 310px;
    }
}

@media (max-width: 1280px) {
    /* kv deco */
    .kv_deco_kumo_l{
        width: 200px;
        left: 10px;
    }
    .kv_deco_kumo_r{
        width: 200px;
        top: 780px;
        right: -40px;
    }
    .kv_deco_ume_l{
        left: 25px;
    }
    .kv_deco_ume_l_small{
        left: 70px;
    }
    .kv_deco_ume_r{
        right: 30px;
        top: 490px;
    }
    .kv_deco_ume_r_small{
        right: 90px;
        top: 570px;
    }
    /* kv bottom */
    .kv_bottom_text{
        line-height: 3;
    }
    .kv_bottom1{
        width: 300px;
        top: 80px;
    }
    .kv_bottom2 img{
        width: 400px;
    }
    .kv_btn{
        width: 150px;
        height: 150px;
    }
    .kv_btn p{
        padding: 50px 0 0;
    }
    .contact_arrow{
        width: 10px;
        height: 10px;
    }
    /* concept */
    .concept_img1{
        margin-top: 90px;
    }
    .concept_img2{
        margin-top: -20px;
    }
    .concept_img3{
        margin-top: -130px;
    }
    /* recommend */
    .recommend_menu_flex{
        gap: 0;
    }
    /* certification */
    .certification_inner{
        margin-top: 30px;
    }
}

@media (max-width: 1100px) {
    /* kv */
    .kv_top{
        width: 690px;
    }
    .slide_show {
        width: 660px;
        height: 815px;
    }
    .kv_news{
        width: 300px;
        padding: 15px;
        top: 460px;
    }
    .kv_news_title{
        margin-bottom: 5px;
    }
    .kv_news_content{
        gap: 2px;
    }
    /* kv deco */
    .kv_deco_kumo_r{
        top: 560px;
        right: -60px;
    }
    .kv_deco_ume_r{
        right: 50px;
        top: 420px;
    }
    .kv_deco_ume_r_small{
        right: 120px;
        top: 500px;
    }
    /* kv bottom */
    .kv_bottom1{
        width: 250px;
        top: 100px;
        right: -70px;
    }
    .kv_bottom2{
        left: -160px;
    }
    .kv_bottom2 img{
        width: 350px;
    }
    .kv_btn{
        margin-left: -100px;
    }
    /* concept */
    #concept h3{
        font-size: 30px;
    }
    .concept_line{
        width: 490px;
    }
    .concept_img{
        gap: 30px;
        padding-bottom: 80px;
    }
    .concept_img img{
        width: 180px;
        height: 240px;
    }
    /* recommend */
    .recommend_menu_title{
        font-size: 26px;
    }
    .recommend_menu_flex{
        margin-left: -10px;
        margin-right: -5px;
    }
    .recommend_menu_item{
        width: 31%;
    }
    /* certification */
    .certification_flex1 img{
        width: 300px;
        height: 225px;
    }
    .certification_flex2 img{
        width: 260px;
        height: 272px;
    }
    .certification_text{
        font-size: 14px;
    }
    /* instagram */
    .insta_content{
        gap: 20px;
    }
    .insta_item{
        width: 150px;
        height: 150px;
    }
}

/* sp */
@media (max-width: 767px) {
    /* top header */
    nav ul {
        height: 100%;
    }
    main{
        margin-top: 0;
    }
    /* kv */
    .kv{
        margin-top: 70px;
    }
    .kv_hidden{
        padding-top: 40px;
    }
    .kv_top{
        width: 90%;
    }
    .slide_show{
        width: 340px;
        height: 420px;
    }
    .kv_hidden{
        overflow: visible;
    }
    /* kv title */
    .kv_title{
        margin-top: 0;
    }
    .kv_title1,
    .kv_title2{
    width: 40px;
    }
    .kv_title2{
        margin-top: 50px;
        margin-right: 10px;
    }
    /* kv deco */
    .kv_deco_kumo_l{
        width: 120px;
        top: 790px;
        left: 25px;
    }
    .kv_deco_kumo_r{
        width: 120px;
        top: 1200px;
        right: 25px;
    }
    .kv_deco_ume_l{
        width: 30px;
        top: 20px;
        left: 25px;
    }
    .kv_deco_ume_l_small{
        width: 15px;
        top: 60px;
        left: 45px;
    }
    .kv_deco_ume_r {
        width: 30px;
        top: 380px;
        right: 10px;
    }
    .kv_deco_ume_r_small {
        width: 20px;
        top: 425px;
        right: 35px;
    }
    /* kv news */
    .kv_news{
        width: 100%;
        top: 400px;
    }
    /* kv bottom */
    .kv_bottom{
        padding-bottom: 40px;
        padding: 160px 0 140px;
        margin-top: 0px;
        margin-bottom: -70px;
    }
    .kv_bottom1{
        width: 160px;
        right: -35px;
        top: 270px;
        z-index: 2;
    }
    .kv_bottom2{
        left: -70px;
    }
    .kv_bottom2 img{
        width: 240px;
        padding-bottom: 15px;
    }
    .kv_btn{
        margin-left: -80px;
        margin-bottom: 0;
    }
    .kv_btn p{
        font-size: 18px;
    }
    .kv_bottom_text{
        font-size: 16px;
        margin: 280px auto 120px;
        padding: 0;
        line-height: 2.5;
        background-image: url(../images/top/logo_q_sp.png);
        height: 295px;
    }
    /* concept */
    #concept{
        padding-top: 150px;
        background-image: url(../images/top/concept_bg_sp.png);
    }
    .concept_flex{
        flex-flow: column-reverse;
    }
    #concept h3{
        text-align: center;
        font-size: 20px;
        margin-bottom: -5px;
    }
    .concept_line{
        width: 325px;
        display: block;
        margin: 0 auto 20px;
    }
    .concept_btn{
        margin-top: 40px;
        text-align: center;
    }
    .concept_img{
        gap: 20px;
        padding-bottom: 100px;
    }
    .concept_img img{
        width: 100px;
        height: 140px;
    }
    .concept_img1{
        margin-top: 180px;
    }
    .concept_img2{
        margin-top: 130px;
    }
    .concept_img3{
        margin-top: 80px;
    }
    /* section title */
    .top_title{
        flex-flow: column-reverse;
        align-items: center;
        display: inline-block;
        margin: auto;
    }
    .top_title h2{
        padding-top: 0;
        font-size: 36px;
        margin: 0 auto;
    }
    .top_title img{
        width: 50px;
    }
    .top_title_line{
        height: 1px;
        width: 250px;
        position: absolute;
        bottom: 10px;
    }
    /* section title right */
    #recommend .top_title{
        flex-flow: column;
    }
    .right_title .title_deco_top{
        top: -15px;
        right: auto;
        left: -40px;
    }
    .right_title .title_deco_bottom{
        top: auto;
        bottom: -15px;
        right: -40px;
    }
    .right_title p{
        transform: rotate( 0deg );
        left: 0;
        top: -10px;
    }
    /* section title left */
    .left_title .title_deco_top{
        top: -15px;
        right: auto;
        left: -50px;
        transform: scale(1, 1);
    }
    .left_title .title_deco_bottom{
        top: auto;
        bottom: -15px;
        right: auto;
        left: 220px;
        transform: scale(1, 1);
    }
    .left_title p{
        transform: rotate( 0deg );
        left: 0;
        top: -10px;
    }
    /* recommend */
    .recommend_flex{
        flex-flow: column-reverse;
        align-items: center;
        gap: 40px;
    }
    .recommend_menu{
        flex-flow: column;
        margin: 50px 0 80px;
        gap: 60px;
    }
    .recommend_menu_flex{
        margin: 20px 0;
    }
    .recommend_menu_item{
        width: 100%;
    }
    .recommend_menu_text{
        font-size: 14px;
    }
    #recommend .top_title_line{
        width: 225px;
    }
    /* certification */
    .certification_inner{
        grid-column: 1/4;
        padding-bottom: 80px;
    }
    #certification h3{
        font-size: 20px;
        margin-bottom: -20px;
    }
    .certification_title{
        width: 87%;
        height: 90px;
    }
    .certification_attention{
        width: 80px;
        top: -55px;
        left: 15px;
    }
    .certification_flex1,
    .certification_flex2{
        flex-flow: column;
        display: grid;
        grid-template-columns: 1fr 87% 1fr;
    }
    .certification_flex1 p{
        grid-column: 2/4;
        border-radius: 10px 0 0 10px;
        margin-top: -45px;
        padding: 40px 30px 20px;
    }
    .certification_flex1 img{
        width: 340px;
        height: 255px;
        grid-column: 1/4;
        border-radius: 0 10px 10px 0;
    }
    .certification_flex2 p{
        grid-column: 1/3;
        border-radius: 0 10px 10px 0;
        margin-top: -30px;
        padding: 20px 25px 20px 30px;
    }
    .certification_flex2 img{
        width: 340px;
        height: 356px;
        grid-column: 1/4;
        z-index: 1;
    }
    .top_bottom{
        padding: 60px 0;
    }
    /* news */
    .news_flex{
        flex-flow: column-reverse;
        gap: 70px;
    }
    .news_content{
        gap: 15px;
        padding: 20px;
        margin-right: 0;
    }
    .news_inner {
        flex-flow: column;
        align-items: start;
        gap: 0;
    }
    #news .top_title_line{
        height: 1px;
        width: 145px;
    }
    #news .right_title p {
        top: 25px;
        left: 0;
    }
    #news .right_title .title_deco_top{
        top: 20px;
        left: -50px;
    }
    #news .right_title .title_deco_bottom{
        top: auto;
        bottom: -15px;
        right: -50px;
    }
    .news_btn{
        margin-top: 60px;
    }
    /* instagram */
    .instagram_inner{
        flex-flow: column;
    }
    #instagram .top_title h2{
        line-height: 1.5;
    }
    #instagram .top_title_line{
        height: 1px;
        width: 180px;
        bottom: 0;
    }
    #instagram .left_title p {
        top: -20px;
        left: 5px;
    }
    #instagram .left_title .title_deco_top{
        top: -20px;
        left: -60px;
    }
    #instagram .left_title .title_deco_bottom{
        top: 105px;
        left: 185px;
    }
    .insta_content {
        width: 100%;
    }
    .insta_item {
        width: 40.5vw;
        height: 150px;
    }
}