@charset "UTF-8";

/* html {
  scroll-behavior: smooth;
} */

body {
  overflow-x: hidden;
  line-height: 2;
  font-family: "dnp-shuei-mincho-pr6n", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 767px) {
  body{
    font-size: 14px;
  }
  main{
    margin-top: 80px;
  }
}

a, button {
  cursor: pointer;
}

/* main grid */
.main_grid{
  display: grid;
  grid-template-columns: 1fr 960px 1fr;
}
@media (max-width: 1280px) {
  .main_grid{
    grid-template-columns: 1fr 87% 1fr;
  }
}
/* under main grid */
.under_grid{
  display: grid;
  grid-template-columns: 1fr 87% 1fr;
}

/* responsive */
.sp {
  display: none;
}
.tab{
  display: none;
}
/* tab */
@media (max-width: 1100px) {
  .tab{
    display: block;
  }
}
/* sp */
@media (max-width: 767px) {
  .pc,.tab {
    display: none;
  }
  .sp {
    display: block;
  }
}

/* 太字 */
.bold{
  font-weight: 600;
}

/* 行間 */
.line_height3{
  line-height: 3;
}

/* 縦書き */
.vertical,
.pc-vertical {
  -ms-writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	text-orientation: upright;
	writing-mode: vertical-rl;
}
.vertical span{
	text-combine-upright: all;
  letter-spacing: normal;
  letter-spacing: 0;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .pc-vertical{
    writing-mode: horizontal-tb;
  }
}

/* logo */
.logo:hover{
  opacity: 0.8;
}

/* ボタン */
.small_btn{
  width: 160px;
  transition: 0.3s;
}
.normal_btn{
  width: 250px;
  transition: 0.3s;
}
.large_btn{
  width: 320px;
  transition: 0.3s;
}
.small_btn:hover,
.normal_btn:hover,
.large_btn:hover{
  opacity: 0.8;
  transition: 0.3s;
}
.top_btn{
  text-align: center;
  padding: 100px;
}
@media (max-width: 767px) {
  .small_btn{
    width: 100px;
  }
  .large_btn{
    width: 280px;
  }
  .top_btn{
    padding: 45px 0 70px;
  }
}

/* 下層ページKV */
.underpage_kv{
  padding-top: 100px;
  text-align: center;
}
.underpage_title{
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  font-weight: 600;
}
.title_icon {
  margin-bottom: -20px;
}
.underpage_title h2{
  font-size: 44px;
  padding:0;
  margin-bottom: -30px;
}
.underpage_title p{
  font-size: 20px;
}
.underpage_subtitle{
  font-size: 34px;
  font-weight: 600;
}
.underpage_subtitle span{
  color: #D53128;
}
.underpage_kv_img{
  width: 100vw;
  position: relative;
  padding: 40px 0 60px;
  z-index: 1;
}
.kv_deco_ume1{
  width: 60px;
  position: absolute;
  top: 0;
  right: 5%;
}
.kv_deco_ume2{
  width: 40px;
  position: absolute;
  bottom: 50px;
  left: 5%;
}
.underpage_kv_text{
  width: 95%;
  margin: auto;
  line-height: 3;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .underpage_kv{
    padding-top: 60px;
  }
  .underpage_title{
    margin-bottom: 20px;
  }
  .title_icon {
    margin-bottom: -15px;
  }
  .title_line{
    width: 240px;
  }
  .underpage_title h2{
    font-size: 36px;
    margin-bottom: -20px;
  }
  .underpage_title p{
    font-size: 18px;
  }
  .underpage_subtitle{
    font-size: 26px;
  }
  .underpage_kv_img{
    padding: 20px 0 30px;
  }
  .kv_deco_ume1{
    width: 50px;
    top: 0;
    right: 5%;
  }
  .kv_deco_ume2{
    width: 30px;
    bottom: 15px;
    left: 5%;
  }
  .underpage_kv_text{
    width: 87%;
    margin: auto;
  }
}

/* 下層ページKV装飾 */
.kv_deco{
  position: relative;
  overflow: hidden;
}
.kv_deco_kumo1{
  position: absolute;
  top: 190px;
  left: -30px;
}
.kv_deco_kumo2{
  position: absolute;
  top: 770px;
  right: -30px;
}
@media (max-width: 767px) {
  .kv_deco_kumo1{
    width: 120px;
    top: 70px;
    left: -40px;
  }
  .kv_deco_kumo2{
    width: 120px;
    top: 610px;
    right: -25px;
  }
}

/* menu title deco */
.menu_deco{
  width: 20px;
}
@media (max-width: 767px) {
  .menu_deco{
    width: 15px;
  }
}

/* loader */
.loader {
  position: fixed;
  top: 0;
	width: 100vw;
	height: 100vh;
	background-color:#FFFFFF;
	transition: all ease-in-out 1s;
  z-index: 9999;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.load_images {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.load_images_huta {
  width: 59.9px;
}

.load_images_kama {
  width: 71px;
}

.load_images_huta.open {
  transform: translate(0, -5px) rotate(10deg);
}

.load_count {
  text-align: center;
  margin-left: 5px;
  font-size: 16px;
  font-family: "dnp-shuei-mincho-pr6n", sans-serif;
}